*{
    margin: 0;
    padding: 0;

}
nav{
    background-color: lightgray;
    color: black;
    height: 60px;
}

a,
a:hover{
    color: black;

}
nav ul > li > a#logo_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.jumbotron{
    background: url(https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?cs=srgb&dl=pexels-gdtography-911738.jpg&fm=jpg) no-repeat center center;
    background-size: cover;
    height: 300px;
}

.jumbotron>a {
    background-color: white;
    color: white;
    font-size: .85rem;
    
    
}
.jumbotron > a:hover {
    background-color: gray;
    color: black;

}
img[src="img/earth2.jpg"] {
     height: 66.5%; 
} 
hr.one{
    border: none;
    height: 1px;
    background: gray;
}

#advertisement {
    height: 600px;
    color: black;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background: url('../img/advertisement.png') 50% 80%no-repeat;
    background-size: cover;
}

#advertisement .wrapper {
    margin-top: -12rem;

}
footer #absolute_wrapper {
    top: 2%;
    left: 3%;
    font-size: 1.6rem;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.6);
    background-color: lightgray;
}
